
<h2 class="primary-insight">
    You used the most during the afternoon.
</h2>
<div class="row times-of-day">
    <div class="time-of-day morning">
        <div>
            Morning
        </div>
        <div>
            6am &ndash; 12pm
        </div>
        <div class="percentage">
            20%
        </div>
        <svg class="icon" viewBox="0 0 80 80">
            <use xlink:href="#coffee"></use>
        </svg>
    </div>
    <div class="time-of-day afternoon active">
        <div>
            Afternoon
        </div>
        <div>
            12pm &ndash; 6pm
        </div>
        <div class="percentage">
            65%
        </div>
        <div class="icon-sun">
            <svg class="icon icon-sun-center animate" viewBox="0 0 80 80">
                <use class="icon-sun-center"  xlink:href="#sun-center"></use>
                <use class="icon-sun-rays" xlink:href="#sun-rays"></use>
            </svg>
        </div>
    </div>
    <div class="time-of-day afternoon">
        <div>
            Evening
        </div>
        <div>
            6pm &ndash; 12am
        </div>
        <div class="percentage">
            12%
        </div>
        <svg class="icon" viewBox="0 0 80 80">
            <use xlink:href="#sunset"></use>
        </svg>
    </div>
    <div class="time-of-day afternoon">
        <div>
            Night
        </div>
        <div>
            12am &ndash; 6am
        </div>
        <div class="percentage">
            8%
        </div>
        <svg class="icon" viewBox="0 0 80 80">
            <use xlink:href="#moon"></use>
        </svg>
    </div>
</div>

<div class="insight-subtext">
    <svg class="inline icon" viewBox="0 0 80 80" alt="Next insight">
        <use xlink:href="#info"></use>
    </svg>
    Think about what uses energy during this period.
</div>
