
<h2 class="primary-insight">
    You used more on heating this month compared to last month.
</h2>

<div class="last-bill-what-used-most" ng-controller="lastBillWhatUsedMostController">
    <div class="chart">
        <div class="pie-chart" data-ac-chart="'pie'" data-ac-data="pieData" data-ac-config="pieConfig"></div>
        <div class="pie-center">
            <h2 class="absolute-centered">42%</h2>
        </div>
    </div>
</div>

<div class="insight-subtext">
    <svg class="inline icon" viewBox="0 0 80 80" alt="Next insight">
        <use xlink:href="#info"></use>
    </svg>
    Heating makes up 42% of your total electricity bill.
</div>
