body, html {
  position: relative;
  height: 100%; width: 100%;
}
#wrapper {
  display: block;
  min-height:100%; width:100%;
  position: relative;
  -webkit-transform:translate3d(0,0,0);
          transform:translate3d(0,0,0);
  -webkit-transition:-webkit-transform 250ms;
          transition:transform 250ms;
  z-index: 2;
  }
  #wrapper.configging {
    -webkit-transform:translate3d(-220px,0,0);
            transform:translate3d(-220px,0,0);
  -webkit-transition:-webkit-transform 250ms;
          transition:transform 250ms;
    }
#quick-config {
    display: none;
  background: #383838; /* Old browsers */
  background: -moz-linear-gradient(left,  #222 0%, #303030 15%); /* FF3.6+ */
  background: -webkit-linear-gradient(left,  #222 0%,#303030 15%); /* Chrome10+,Safari5.1+ */
  color: #616365;
  opacity: 0;
  overflow:visible;
  position: fixed; top:0; bottom: 0; right:0;
  text-align: left;
  width: 220px;
  z-index: 1;
  }
  #quick-config ul {
    display: block; height: 100%;
    list-style-type: none;
    margin: 0;
    overflow-y:scroll;
    padding: 0;
    }
    #quick-config li {
      border-bottom: 1px solid #222;
      margin:0;
      padding:16px 0 16px 16px;
      }
    #quick-config li.qc-footer {
      border-bottom:none;
      padding-bottom:12px;
      width:188px;
      }
  #quick-config .save {
    margin-top:40px;
    }
  #quick-config h1 {
    color:#616365;
    font-size: 20px;
    font-weight: bold;
    }
  #quick-config label {
    color:#ADAFAF;
    display: inline-block;
    padding:0 8px 0 0;
    font-size: 16px;
    }
    #quick-config label:last-child {
      padding:0;
      }
  #quick-config .label,
  #quick-config .field-label,
  #quick-config h2 label {
    color:#fff;
    display: block;
    font-size: 16px;
    padding:0 0 4px;
    }
  #quick-config p {
    font-size: 12px;
    line-height: 14px;
    }
    #quick-config p.marginUp {
      font-size: 10px;
      line-height: 12px;
      margin-top:-12px;
      }
  #quick-config input.text {
    background:#4c4c4c;
    border:1px solid #222;
    box-shadow:0 1px 0 #616365, inset 0 0 6px #333;
    color:#222;
    width:176px;
    position: relative;
    }
    #quick-config input.text:focus {
      background:#707070;
      border:1px solid #222;
      color:#fff;
      outline: none;
      }


#quick-config div.checker span,
#quick-config div.radio span {
  background-image:url(forms/radio-check_dark.png);
}

#quick-config .clearOut {
  position: absolute; top:60px; right:20px;
}

