<div class="button-set-wrapper button-actions-wrapper tip-actions">
    <div class="button-wrapper">
        <button class="control button tip-action tip-add-to-plan">
            <svg class="icon" viewBox="0 0 80 80">
                <use xlink:href="#list"></use>
            </svg>
            <span class="label">Add to my plan</span>
        </button>
    </div>
    <div class="button-wrapper">
        <button class="control button tip-action tip-already-do-it">
            <svg class="icon" viewBox="0 0 80 80">
                <use xlink:href="#check"></use>
            </svg>
            <span class="label">I already do this</span>
        </button>
    </div>
    <div class="button-wrapper">
        <button class="control button tip-action tip-no-thanks">
            <svg class="icon" viewBox="0 0 80 80">
                <use xlink:href="#close"></use>
            </svg>
            <span class="label">No thanks </span>
        </button>
    </div>
</div>
