@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,800,800italic,700italic,700,300italic,300);
.header {
	display: none;
}
.footer {
	display: none;
}
.sidebar {
	display: none;
}
.subnav {
	display: none;
}
.audit-header {
	display: none;
}
.how-this-works {
    padding-bottom: 0px;
    border-bottom:none;
}
.main {
	border: none;
}




.graph-container {
    margin: 0;
    padding: 0;
}
.row-data, .row-break {
    padding: 0px 0;
}


.row-data {
    background-color: #fff;
}
body {
    background-color: #fff;
}

.primary-content-wrapper {
	padding: 0%;
}



.highcharts-tooltip > span .tooltip-series-row {
    margin: 0 10px 10px;
}









/* extra styles for the solar view
	added to the databrowser */
.solar-notification {
	background-color: #e7f2f6;
	padding: 30px 0px 10px;
	opacity: 1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
}
.solar-notification.ng-hide {
  opacity: 0;
}
.solar-notification .solar-mes {
	padding: 0px 60px 0px 164px
}
.solar-notification h2 {
	font-size: 18px;
	font-weight: 600;
	margin: 0px 0px 10px;
}
.solar-notification p {
	font-size: 14px;
	margin: 0px 0px 20px;
}
.solar-notification a {
	color: #1D1D1D;
	border-bottom: 1px solid #1D1D1D;
}
.solar-notification .x-out {
  position: absolute;
  top: 56px;
  right: 30px;
  display: block;
  height: 25px;
  width: 25px;
  background-color: aqua;
  z-index: 10;
  cursor: pointer;
}
.solar-notification .solar-mes-img {
  position: absolute;
  top: 16px;
  left: 30px;
  display: block;
  height: 104px;
  width: 104;
  background-color: aqua;
  z-index: 10;
}




/* preformance banner in the solar widget */
.performance-summary {

}
.performance-summary ul {
	width: 100%;
	padding-bottom: 30px;
}
.performance-summary li {
	display: inline-block;
	font-size: 14px;
}
.performance-summary li.performance-middle {
	padding: 0 25px;
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
	width: 33%;
}
.performance-summary li.performance-left {
	padding: 0 25px;
	width: 29%;
}
.performance-summary li.performance-right {
	padding: 0 25px;
	width: 36%;
}
.performance-summary span {
	display: inline-block;
	text-align: left;
}
.performance-summary span.performance-text {
	float: left;
	width: 50%;
}
.performance-summary li.performance-left span.performance-text {
	width: 63%;
}
.performance-summary li.performance-right span.performance-text {
	width: 40%;
}
.performance-summary span.performance-num {
	float: right;
	width: 44%;
	font-size: 32px;
	line-height: 1;
	color: #d8d8d8;
}
.performance-summary li.performance-left span.performance-num {
	width: 36%;
	color: #ffa300;
	font-weight: 600;
}
.performance-summary li.performance-right span.performance-num {
	width: 58%;
	color: #107CB2;
}
.performance-summary span.performance-num span {
	font-size: 16px;
	display: inline;
}




* {
	font-family: 'Open sans';
}






