.header {
	display: none;
}
.footer {
	display: none;
}
.sidebar {
	display: none;
}
.subnav {
	display: none;
}
.audit-header {
	display: none;
}
.how-this-works {
    padding-bottom: 0px;
    border-bottom:none;
}
.main {
	border: none;
}




.graph-container {
    margin: 0;
}
.row-data, .row-break {
    padding: 20px 0;
}


.row-data {
    background-color: #fff;
}
body {
    background-color: #fff;
}

.primary-content-wrapper {
	padding: 0 3%;
}



.highcharts-tooltip > span .tooltip-series-row {
    margin: 0 10px 10px;
}


/* extra styles for the solar view
	added to the databrowser */
.solar-notification {
	background-color: #f5f5f5;
	padding: 10px 30px 0px;
	border-radius: 5px
}
.solar-notification h2 {

}
.solar-notification p {

}
.solar-notification a {

}
.solar-notification .x-out {
  position: absolute;
  top: 16px;
  right: 20px;
  display: block;
  height: 25px;
  width: 25px;
  background-image: url(images/icons/close-btn.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: aqua;
  z-index: 10;
}


/* preformance banner in the solar widget */
.performance-summary {

}
.performance-summary ul {
	width: 100%;
	padding-bottom: 30px;
}
.performance-summary li {
	display: inline-block;
	width: 32.8%;
}
.performance-summary li.performance-middle {
	padding: 0 25px;
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
}
.performance-summary li.performance-left {
	padding: 0 25px;
}
.performance-summary li.performance-right {
	padding: 0 25px;
}
.performance-summary span {
	display: inline-block;
	text-align: left;
}
.performance-summary span.performance-text {
	float: left;
	width: 60%;
}
.performance-summary span.performance-num {
	float: right;
	width: 40%;
	font-size: 24px;
}













