
<h2 class="primary-insight">
    Due to cooler weather, you likely used more energy.
</h2>

<div class="average-temperature-container">
    <div class="average-temperature">
        <svg class="icon" viewBox="0 0 80 80" alt="Thermometer icon">
            <use class="thermometer-outline" xlink:href="#thermometer-outline"></use>
            <use class="thermometer-base" xlink:href="#thermometer-base"></use>
            <use class="thermometer-level" xlink:href="#thermometer-level"></use>
        </svg>
        Average temperature
        <div class="temperature">22&deg;</div>
        2&deg; colder than last year
    </div>
</div>
