<div class="row-data">
    <div class="small-12 columns">
        <div class="graph-container has-controls" ng-controller="overTimeGraphController">

            <h2 class="heading-page">Your Energy History</h2>
            <p class="page-subheading">Explore your use to see when you used the most.</p>

            <div class="chart-controls">
                <ul class="chart-control-units">
                    <li><a ng-click="changeChart('cost-current-year'); changeChartCategory('costs');" ng-class="{'active': activeCategory == 'costs'}">Costs</a></li>
                    <li><a ng-click="changeChart('usage-current-year'); changeChartCategory('usage');" ng-class="{'active': activeCategory == 'usage'}">Energy Use</a></li>
                </ul>
                <ul class="chart-control-fuel">
                    <li><a class="active">Electricity</a></li>
<!--                     <li><a>Combined</a></li> -->
                </ul>
            </div>
            <div class="row graph-data">

                <div ng-if="activeChart == 'cost-current-year'" ng-controller="costYearController">
                    <div class="date-controls">
                        <div class="quiet-dropdown" ng-class="{'open': quietDropdownIsOpen}">
                            <div class="quiet-dropdown-label" ng-click="quietDropdownOpen();">
                                Year View
                                <svg class="icon caret" viewBox="0 0 80 80">
                                    <use xlink:href="#caret"></use>
                                </svg>
                            </div>
                            <ul>
                                <li>
                                    <a href="#" class="active" ng-click="quietDropdownClose();">
                                        Year View
                                        <svg class="icon" viewBox="0 0 80 80">
                                            <use xlink:href="#check"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li><a href="#" ng-click="goBack('cost-february'); quietDropdownClose();">Month View</a></li>
                                <li><a href="#" ng-click="goBack('cost-day'); quietDropdownClose();">Day View</a></li>
                            </ul>
                        </div>
                        <div class="date-picker">
                            <a class="arrow-navigation arrow-left">
                                <svg class="icon" viewBox="0 0 80 80">
                                    <use xlink:href="#caret"></use>
                                </svg>
                            </a>
                            <span class="date-range">Feb 2014 - Feb 2015</span>
                            <a class="arrow-navigation arrow-right disabled">
                                <svg class="icon" viewBox="0 0 80 80">
                                    <use xlink:href="#caret"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="chart-inner"
                         op-cost-chart
                         chart-data="costYear"
                         chart-details="{
                                toolTipLinkText: 'View each day',
                                max: 120,
                                interval: 30,
                                decimals: 0
                            }"
                         weather="weatherYear"
                         change-parent-chart="changeChartFromWithin(chart)">
                     </div>
                </div>

                <div ng-if="activeChart == 'usage-current-year'" ng-controller="usageYearController">
                    <div class="date-controls">
                        <div class="quiet-dropdown" ng-class="{'open': quietDropdownIsOpen}">
                            <div class="quiet-dropdown-label" ng-click="quietDropdownOpen();">
                                Year View
                                <svg class="icon caret" viewBox="0 0 80 80">
                                    <use xlink:href="#caret"></use>
                                </svg>
                            </div>
                            <ul>
                                <li>
                                    <a href="#" class="active" ng-click="quietDropdownClose();">
                                        Year View
                                        <svg class="icon" viewBox="0 0 80 80">
                                            <use xlink:href="#check"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li><a href="#" ng-click="goBack('usage-february'); quietDropdownClose();">Month View</a></li>
                                <li><a href="#" ng-click="goBack('usage-day'); quietDropdownClose();">Day View</a></li>
                            </ul>
                        </div>
                        <div class="date-picker">
                            <a class="arrow-navigation arrow-left">
                                <svg class="icon" viewBox="0 0 80 80">
                                    <use xlink:href="#caret"></use>
                                </svg>
                            </a>
                            <span class="date-range">Jan 21, 2014 - Feb 19, 2015</span>
                            <a class="arrow-navigation arrow-right disabled">
                                <svg class="icon" viewBox="0 0 80 80">
                                    <use xlink:href="#caret"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="chart-inner"
                         op-usage-neighbors-chart
                         chart-data="usageYear"
                         chart-details="{
                                toolTipLinkText: 'View each day',
                                steps: 1,
                                max: 120,
                                interval: 30,
                                decimals: 0
                            }"
                         change-parent-chart="changeChartFromWithin(chart)">
                     </div>
                </div>

                <div ng-repeat="month in months track by $index">
                    <div ng-if="activeChart == 'cost-'+month.slug" ng-controller="costMonthController">
                        <div class="date-controls">
                            <div class="quiet-dropdown" ng-class="{'open': quietDropdownIsOpen}">
                                <div class="quiet-dropdown-label" ng-click="quietDropdownOpen();">
                                    Month View
                                    <svg class="icon caret" viewBox="0 0 80 80">
                                        <use xlink:href="#caret"></use>
                                    </svg>
                                </div>
                                <ul>
                                    <li>
                                        <a href="#" ng-click="goBack('cost-current-year'); quietDropdownClose();">Year View</a>
                                    </li>
                                    <li>
                                        <a href="#" ng-click="quietDropdownClose();" class="active">
                                            Month View
                                            <svg class="icon" viewBox="0 0 80 80">
                                                <use xlink:href="#check"></use>
                                            </svg>
                                        </a>
                                    </li>
                                    <li><a href="#" ng-click="goBack('cost-day'); quietDropdownClose();">Day View</a></li>
                                </ul>
                            </div>
                            <div class="date-picker">
                                <a class="arrow-navigation arrow-left" ng-click="changeChart(monthTraverse($index, 'cost', 'back'))" ng-class="{'disabled': $index == 0}">
                                    <svg class="icon" viewBox="0 0 80 80">
                                        <use xlink:href="#caret"></use>
                                    </svg>
                                </a>
                                <span class="date-range">{{ month.date }}</span>
                                <a class="arrow-navigation arrow-right" ng-click="changeChart(monthTraverse($index, 'cost', 'forwards'))" ng-class="{'disabled': $index == 12}">
                                    <svg class="icon" viewBox="0 0 80 80">
                                        <use xlink:href="#caret"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <div class="chart-inner"
                             op-cost-chart
                             chart-data="costFebruary"
                             weather="weatherFebruary"
                             chart-details="{
                                    toolTipLinkText: 'View each hour',
                                    steps: 7,
                                    max: 20,
                                    interval: 5,
                                    decimals: 0
                                }"
                             change-parent-chart="changeChartFromWithin(chart)">
                         </div>
                    </div>
                    <div ng-if="activeChart == 'usage-'+month.slug" ng-controller="usageMonthController">
                        <div class="date-controls">
                            <div class="quiet-dropdown" ng-class="{'open': quietDropdownIsOpen}">
                                <div class="quiet-dropdown-label" ng-click="quietDropdownOpen();">
                                    Month View
                                    <svg class="icon caret" viewBox="0 0 80 80">
                                        <use xlink:href="#caret"></use>
                                    </svg>
                                </div>
                                <ul>
                                    <li>
                                        <a href="#" ng-click="goBack('usage-current-year'); quietDropdownClose();">Year View</a>
                                    </li>
                                    <li>
                                        <a href="#" ng-click="quietDropdownClose();" class="active">
                                            Month View
                                            <svg class="icon" viewBox="0 0 80 80">
                                                <use xlink:href="#check"></use>
                                            </svg>
                                        </a>
                                    </li>
                                    <li><a href="#" ng-click="goBack('usage-day'); quietDropdownClose();">Day View</a></li>
                                </ul>
                            </div>
                            <div class="date-picker">
                                <a class="arrow-navigation arrow-left" ng-click="changeChart(monthTraverse($index, 'usage', 'back'))" ng-class="{'disabled': $index == 0}">
                                    <svg class="icon" viewBox="0 0 80 80">
                                        <use xlink:href="#caret"></use>
                                    </svg>
                                </a>
                                <span class="date-range">{{ month.date }}</span>
                                <a class="arrow-navigation arrow-right" ng-click="changeChart(monthTraverse($index, 'usage', 'forwards'))" ng-class="{'disabled': $index == 12}">
                                    <svg class="icon" viewBox="0 0 80 80">
                                        <use xlink:href="#caret"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <div op-usage-chart
                             chart-data="usageFebruary"
                             chart-details="{
                                    toolTipLinkText: 'View each hour',
                                    steps: 7,
                                    max: 20,
                                    interval: 4,
                                    decimals: 0
                                }"
                             change-parent-chart="changeChartFromWithin(chart)">
                         </div>
                    </div>
                </div>

                <div ng-if="activeChart == 'usage-day'" ng-controller="usageDayController">
                    <div class="date-controls">
                        <div class="quiet-dropdown" ng-class="{'open': quietDropdownIsOpen}">
                            <div class="quiet-dropdown-label" ng-click="quietDropdownOpen();">
                                Day View
                                <svg class="icon caret" viewBox="0 0 80 80">
                                    <use xlink:href="#caret"></use>
                                </svg>
                            </div>
                            <ul>
                                <li>
                                    <a href="#" ng-click="goBack('usage-current-year'); quietDropdownClose();">Year View</a>
                                </li>
                                <li>
                                    <a href="#" ng-click="goBack('usage-february'); quietDropdownClose();">
                                        Month View
                                    </a>
                                </li>
                                <li>
                                    <a href="#" ng-click="quietDropdownClose();" class="active">
                                        Day View
                                        <svg class="icon" viewBox="0 0 80 80">
                                            <use xlink:href="#check"></use>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="date-picker">
                            <a class="arrow-navigation arrow-left">
                                <svg class="icon" viewBox="0 0 80 80">
                                    <use xlink:href="#caret"></use>
                                </svg>
                            </a>
                            <span class="date-range">Thursday, February 19</span>
                            <a class="arrow-navigation arrow-right disabled">
                                <svg class="icon" viewBox="0 0 80 80">
                                    <use xlink:href="#caret"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="chart-inner"
                         op-usage-chart
                         chart-data="usageDay"
                         chart-details="{
                                steps: 6,
                                max: 2,
                                interval: 0.5,
                                decimals: 2,
                                drilldown: false
                            }"
                         change-parent-chart="changeChartFromWithin(chart)">
                     </div>
                </div>

                <div ng-if="activeChart == 'cost-day'" ng-controller="costDayController">
                    <div class="date-controls">
                        <div class="quiet-dropdown" ng-class="{'open': quietDropdownIsOpen}">
                            <div class="quiet-dropdown-label" ng-click="quietDropdownOpen();">
                                Day View
                                <svg class="icon caret" viewBox="0 0 80 80">
                                    <use xlink:href="#caret"></use>
                                </svg>
                            </div>
                            <ul>
                                <li>
                                    <a href="#" ng-click="goBack('cost-current-year'); quietDropdownClose();">Year View</a>
                                </li>
                                <li>
                                    <a href="#" ng-click="goBack('cost-february'); quietDropdownClose();">
                                        Month View
                                    </a>
                                </li>
                                <li>
                                    <a href="#" ng-click="quietDropdownClose();" class="active">
                                        Day View
                                        <svg class="icon" viewBox="0 0 80 80">
                                            <use xlink:href="#check"></use>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="date-picker">
                            <a class="arrow-navigation arrow-left">
                                <svg class="icon" viewBox="0 0 80 80">
                                    <use xlink:href="#caret"></use>
                                </svg>
                            </a>
                            <span class="date-range">Thursday, February 19</span>
                            <a class="arrow-navigation arrow-right disabled">
                                <svg class="icon" viewBox="0 0 80 80">
                                    <use xlink:href="#caret"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="chart-inner"
                         op-cost-chart
                         chart-data="costDay"
                         chart-details="{
                                steps: 6,
                                max: 2,
                                interval: 0.5,
                                decimals: 0,
                                drilldown: false
                            }"
                         weather="weatherDay"
                         change-parent-chart="changeChartFromWithin(chart)">
                     </div>
                </div>

            </div>
        </div>
    </div>
</div>
