<div class="row-data">
    <div class="small-12 columns">
        <div class="graph-container has-controls" ng-controller="overTimeGraphController">


<!-- heading -->
            <h2 class="heading-page">Your Energy History</h2>
            <p class="page-subheading">Explore your use to see when you used the most.</p>




<!-- chart and energy type menus -->
            <div class="chart-controls">


                <ul class="chart-control-units">
                    <li>
                    	<a ng-click="changeChart('cost-current-year'); changeChartCategory('costs');" ng-class="{'active': activeCategory == 'costs'}">
	                    	Costs
	                    </a>
                    </li>

                    <li>
                    	<a ng-click="changeChart('usage-current-year'); changeChartCategory('usage');" ng-class="{'active': activeCategory == 'usage'}">
	                    	Energy Use
	                    </a>
                    </li>

                    <li>
                    	<a ng-click="changeChart('carbon-current-year'); changeChartCategory('carbon');" ng-class="{'active': activeCategory == 'carbon'}">
	                    	Carbon Footprint
	                    </a>
                    </li>
                </ul>


                <ul class="chart-control-fuel">
                    <li>
                    	<a ng-click="changeChart('cost-current-year'); changeChartCategory('costs');"
	                    	ng-class="{'active': activeCategory === 'costs' || activeCategory === 'usage' || activeCategory === 'carbon' }">Electricity</a>
                    </li>

                    <li>
                    	<a ng-click="changeChart('mkr-data-solar'); changeChartCategory('mkrSolar');" ng-class="{'active': activeCategory === 'mkrSolar'}">Solar Energy</a>
                    </li>
                </ul>

            </div>






            <div class="row graph-data">



<!-- YEAR COSTS -->
                <div ng-if="activeChart == 'cost-current-year'" ng-controller="costYearController">
                    <div class="date-controls">
                        <div class="quiet-dropdown" ng-class="{'open': quietDropdownIsOpen}">
                            <div class="quiet-dropdown-label" ng-click="quietDropdownOpen();">
                                Year View
                                <svg class="icon caret" viewBox="0 0 80 80">
                                    <use xlink:href="#caret"></use>
                                </svg>
                            </div>
                            <ul>
                                <li>
                                    <a href="#" class="active" ng-click="quietDropdownClose();">
                                        Year View
                                        <svg class="icon" viewBox="0 0 80 80">
                                            <use xlink:href="#check"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li><a href="#" ng-click="goBack('cost-february'); quietDropdownClose();">Month View</a></li>
                                <li><a href="#" ng-click="goBack('cost-day'); quietDropdownClose();">Day View</a></li>
                            </ul>
                        </div>
                        <div class="date-picker">
                            <a class="arrow-navigation arrow-left">
                                <svg class="icon" viewBox="0 0 80 80">
                                    <use xlink:href="#caret"></use>
                                </svg>
                            </a>
                            <span class="date-range">Sep 2014 - Sep 2015</span>
                            <a class="arrow-navigation arrow-right disabled">
                                <svg class="icon" viewBox="0 0 80 80">
                                    <use xlink:href="#caret"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="chart-inner"
                         op-cost-chart
                         chart-data="costYear"
                         chart-details="{
                                toolTipLinkText: 'View each day',
                                max: 120,
                                interval: 30,
                                decimals: 0
                            }"
                         weather="weatherYear"
                         change-parent-chart="changeChartFromWithin(chart)">
                     </div>
                </div>





<!-- YEAR USAGE -->
                <div ng-if="activeChart == 'usage-current-year'" ng-controller="usageYearController">
                    <div class="date-controls">
                        <div class="quiet-dropdown" ng-class="{'open': quietDropdownIsOpen}">
                            <div class="quiet-dropdown-label" ng-click="quietDropdownOpen();">
                                Year View
                                <svg class="icon caret" viewBox="0 0 80 80">
                                    <use xlink:href="#caret"></use>
                                </svg>
                            </div>
                            <ul>
                                <li>
                                    <a href="#" class="active" ng-click="quietDropdownClose();">
                                        Year View
                                        <svg class="icon" viewBox="0 0 80 80">
                                            <use xlink:href="#check"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li><a href="#" ng-click="goBack('usage-february'); quietDropdownClose();">Month View</a></li>
                                <li><a href="#" ng-click="goBack('usage-day'); quietDropdownClose();">Day View</a></li>
                            </ul>
                        </div>
                        <div class="date-picker">
                            <a class="arrow-navigation arrow-left">
                                <svg class="icon" viewBox="0 0 80 80">
                                    <use xlink:href="#caret"></use>
                                </svg>
                            </a>
                            <span class="date-range">Sep 2014 - Sep 2015</span>
                            <a class="arrow-navigation arrow-right disabled">
                                <svg class="icon" viewBox="0 0 80 80">
                                    <use xlink:href="#caret"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="chart-inner"
                         op-usage-neighbors-chart
                         chart-data="usageYear"
                         chart-details="{
                                toolTipLinkText: 'View each day',
                                steps: 1,
                                max: 120,
                                interval: 30,
                                decimals: 0
                            }"
                         change-parent-chart="changeChartFromWithin(chart)">
                     </div>
                </div>



<!-- 	YEAR SOLAR PRODUCTION USE	 -->
								<div ng-if="activeChart == 'mkr-data-solar'" ng-controller="mkrSolarController">

										<div class="solar-notification" ng-Show="showYearMes">
											<span class="x-out" ng-click="showYearMes=false"></span>
											<span class="solar-mes-img"><img src="img/icons/sun.png" alt="" width="104" height="104"></span>
											<div class="solar-mes">
					              <h2>View your solar production!</h2>
					              <p>This page is part of a pilot to show you more information about the energy your solar installation generates and how that plays a role in your overall electricity usage. <a href="#" ng-click="showYearMes=false">GOT IT</a></p>
											</div>
				            </div>

                    <div class="date-controls">
                        <div class="quiet-dropdown" ng-class="{'open': quietDropdownIsOpen}">
                            <div class="quiet-dropdown-label" ng-click="quietDropdownOpen();">
                                Year View
                                <svg class="icon caret" viewBox="0 0 80 80">
                                    <use xlink:href="#caret"></use>
                                </svg>
                            </div>
                            <ul>
                                <li>
                                    <a href="#" class="active" ng-click="quietDropdownClose();">
                                        Year View
                                        <svg class="icon" viewBox="0 0 80 80">
                                            <use xlink:href="#check"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li><a href="#" ng-click="goBack('mkrSolar-february'); quietDropdownClose();">Month View</a></li>
                                <li><a href="#" ng-click="goBack('mkrSolar-day'); quietDropdownClose();">Day View</a></li>
                            </ul>
                        </div>
                        <div class="date-picker">
                            <a class="arrow-navigation arrow-left">
                                <svg class="icon" viewBox="0 0 80 80">
                                    <use xlink:href="#caret"></use>
                                </svg>
                            </a>
                            <span class="date-range">Sep 2014 - Sep 2015</span>
                            <a class="arrow-navigation arrow-right disabled">
                                <svg class="icon" viewBox="0 0 80 80">
                                    <use xlink:href="#caret"></use>
                                </svg>
                            </a>
                        </div>

                        <div class="performance-summary">
	                        	<ul>
		                        	<li class="performance-left">
		                        		<span class="performance-text">Energy produced by solar panels</span>
		                        		<span class="performance-num">{{energyProdSolar}}<span>%</span></span>
		                        	</li>
		                        	<li class="performance-middle">
		                        		<span class="performance-text">Energy exported to the grid</span>
		                        		<span class="performance-num">{{energyExport}}<span>kWh</span></span>
		                        	</li>
		                        	<li class="performance-right">
		                        		<span class="performance-text">Energy drawn from the grid</span>
		                        		<span class="performance-num">{{energyDrawn}}<span>kWh</span></span>
		                        	</li>
	                        	</ul>
                        </div>

                    </div><!-- <div class="date-controls"> -->



                    <div class="chart-inner"
                         mkr-solar-chart
                         chart-data="mkrSolar"
                         chart-details="{
                                toolTipLinkText: 'View each day',
                                steps: 1,
                                max: 3000,
                                interval: 500,
                                decimals: 0
                            }"
                         change-parent-chart="changeChartFromWithin(chart)">
                     </div>

                </div>


<!-- YEAR CARBON FOOT -->
                <div ng-if="activeChart == 'carbon-current-year'" ng-controller="mkrCarbonYearController">
                    <div class="date-controls">
                        <div class="quiet-dropdown" ng-class="{'open': quietDropdownIsOpen}">
                            <div class="quiet-dropdown-label" ng-click="quietDropdownOpen();">
                                Year View
                                <svg class="icon caret" viewBox="0 0 80 80">
                                    <use xlink:href="#caret"></use>
                                </svg>
                            </div>
                            <ul>
                                <li>
                                    <a href="#" class="active" ng-click="quietDropdownClose();">
                                        Year View
                                        <svg class="icon" viewBox="0 0 80 80">
                                            <use xlink:href="#check"></use>
                                        </svg>
                                    </a>
                                </li>
                                <li><a href="#" ng-click="goBack('carbon-february'); quietDropdownClose();">Month View</a></li>
                                <li><a href="#" ng-click="goBack('carbon-day'); quietDropdownClose();">Day View</a></li>
                            </ul>
                        </div>
                        <div class="date-picker">
                            <a class="arrow-navigation arrow-left">
                                <svg class="icon" viewBox="0 0 80 80">
                                    <use xlink:href="#caret"></use>
                                </svg>
                            </a>
                            <span class="date-range">Sep 2014 - Sep 2015</span>
                            <a class="arrow-navigation arrow-right disabled">
                                <svg class="icon" viewBox="0 0 80 80">
                                    <use xlink:href="#caret"></use>
                                </svg>
                            </a>
                        </div>
                    </div>

                    <div class="chart-inner"
												op-carbon-chart
                        chart-data="mkrCarbonYear"
                        chart-details="{
                          toolTipLinkText: 'View each day',
                          steps: 1,
                          max: 150,
                          interval: 30,
                          decimals: 0
                        }"
                        change-parent-chart="changeChartFromWithin(chart)">
                     </div>

                </div>




<!-- END YEAR PAGES ----------------- -->




                <div ng-repeat="month in months track by $index">


<!-- MONTH COST -->
                    <div ng-if="activeChart == 'cost-'+month.slug" ng-controller="costMonthController">
                        <div class="date-controls">
                            <div class="quiet-dropdown" ng-class="{'open': quietDropdownIsOpen}">
                                <div class="quiet-dropdown-label" ng-click="quietDropdownOpen();">
                                    Month View
                                    <svg class="icon caret" viewBox="0 0 80 80">
                                        <use xlink:href="#caret"></use>
                                    </svg>
                                </div>
                                <ul>
                                    <li>
                                        <a href="#" ng-click="goBack('cost-current-year'); quietDropdownClose();">Year View</a>
                                    </li>
                                    <li>
                                        <a href="#" ng-click="quietDropdownClose();" class="active">
                                            Month View
                                            <svg class="icon" viewBox="0 0 80 80">
                                                <use xlink:href="#check"></use>
                                            </svg>
                                        </a>
                                    </li>
                                    <li><a href="#" ng-click="goBack('cost-day'); quietDropdownClose();">Day View</a></li>
                                </ul>
                            </div>
                            <div class="date-picker">
                                <a class="arrow-navigation arrow-left" ng-click="changeChart(monthTraverse($index, 'cost', 'back'))" ng-class="{'disabled': $index == 0}">
                                    <svg class="icon" viewBox="0 0 80 80">
                                        <use xlink:href="#caret"></use>
                                    </svg>
                                </a>
                                <span class="date-range">{{ month.date }}</span>
                                <a class="arrow-navigation arrow-right" ng-click="changeChart(monthTraverse($index, 'cost', 'forwards'))" ng-class="{'disabled': $index == 12}">
                                    <svg class="icon" viewBox="0 0 80 80">
                                        <use xlink:href="#caret"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <div class="chart-inner"
                             op-cost-chart
                             chart-data="costFebruary"
                             weather="weatherFebruary"
                             chart-details="{
                                    toolTipLinkText: 'View each hour',
                                    steps: 7,
                                    max: 20,
                                    interval: 5,
                                    decimals: 0
                                }"
                             change-parent-chart="changeChartFromWithin(chart)">
                         </div>
                    </div>






<!-- MONTH USAGE -->
                    <div ng-if="activeChart == 'usage-'+month.slug" ng-controller="usageMonthController">
                        <div class="date-controls">
                            <div class="quiet-dropdown" ng-class="{'open': quietDropdownIsOpen}">
                                <div class="quiet-dropdown-label" ng-click="quietDropdownOpen();">
                                    Month View
                                    <svg class="icon caret" viewBox="0 0 80 80">
                                        <use xlink:href="#caret"></use>
                                    </svg>
                                </div>
                                <ul>
                                    <li>
                                        <a href="#" ng-click="goBack('usage-current-year'); quietDropdownClose();">Year View</a>
                                    </li>
                                    <li>
                                        <a href="#" ng-click="quietDropdownClose();" class="active">
                                            Month View
                                            <svg class="icon" viewBox="0 0 80 80">
                                                <use xlink:href="#check"></use>
                                            </svg>
                                        </a>
                                    </li>
                                    <li><a href="#" ng-click="goBack('usage-day'); quietDropdownClose();">Day View</a></li>
                                </ul>
                            </div>
                            <div class="date-picker">
                                <a class="arrow-navigation arrow-left" ng-click="changeChart(monthTraverse($index, 'usage', 'back'))" ng-class="{'disabled': $index == 0}">
                                    <svg class="icon" viewBox="0 0 80 80">
                                        <use xlink:href="#caret"></use>
                                    </svg>
                                </a>
                                <span class="date-range">{{ month.date }}</span>
                                <a class="arrow-navigation arrow-right" ng-click="changeChart(monthTraverse($index, 'usage', 'forwards'))" ng-class="{'disabled': $index == 12}">
                                    <svg class="icon" viewBox="0 0 80 80">
                                        <use xlink:href="#caret"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <div class="chart-inner"
	                        	 op-usage-chart
                             chart-data="usageFebruary"
                             chart-details="{
                                    toolTipLinkText: 'View each hour',
                                    steps: 7,
                                    max: 20,
                                    interval: 4,
                                    decimals: 0
                                }"
                             change-parent-chart="changeChartFromWithin(chart)">
                         </div>
                    </div>


<!--SOLAR  MONTH USAGE -->
                    <div ng-if="activeChart == 'mkrSolar-'+month.slug" ng-controller="mkrSolarMonthController">
                        <div class="date-controls">
                            <div class="quiet-dropdown" ng-class="{'open': quietDropdownIsOpen}">
                                <div class="quiet-dropdown-label" ng-click="quietDropdownOpen();">
                                    Month View
                                    <svg class="icon caret" viewBox="0 0 80 80">
                                        <use xlink:href="#caret"></use>
                                    </svg>
                                </div>
                                <ul>
                                    <li>
                                        <a href="#" ng-click="goBack('mkr-data-solar'); quietDropdownClose();">Year View</a>
                                    </li>
                                    <li>
                                        <a href="#" ng-click="quietDropdownClose();" class="active">
                                            Month View
                                            <svg class="icon" viewBox="0 0 80 80">
                                                <use xlink:href="#check"></use>
                                            </svg>
                                        </a>
                                    </li>
                                    <li><a href="#" ng-click="goBack('mkrSolar-day'); quietDropdownClose();">Day View</a></li>
                                </ul>
                            </div>
                            <div class="date-picker">
                                <a class="arrow-navigation arrow-left" ng-click="changeChart(monthTraverse($index, 'mkrSolar', 'back'))" ng-class="{'disabled': $index == 0}">
                                    <svg class="icon" viewBox="0 0 80 80">
                                        <use xlink:href="#caret"></use>
                                    </svg>
                                </a>
                                <span class="date-range">{{ month.date }}</span>
                                <a class="arrow-navigation arrow-right" ng-click="changeChart(monthTraverse($index, 'mkrSolar', 'forwards'))" ng-class="{'disabled': $index == 12}">
                                    <svg class="icon" viewBox="0 0 80 80">
                                        <use xlink:href="#caret"></use>
                                    </svg>
                                </a>
                            </div>

                            <div class="performance-summary">
	                        	<ul>
		                        	<li class="performance-left">
		                        		<span class="performance-text">Energy produced by solar panels</span>
		                        		<span class="performance-num">{{energyProdSolar}}<span>%</span></span>
		                        	</li>
		                        	<li class="performance-middle">
		                        		<span class="performance-text">Energy exported to the grid</span>
		                        		<span class="performance-num">{{energyExport}}<span>kWh</span></span>
		                        	</li>
		                        	<li class="performance-right">
		                        		<span class="performance-text">Energy drawn from the grid</span>
		                        		<span class="performance-num">{{energyDrawn}}<span>kWh</span></span>
		                        	</li>
	                        	</ul>
		                        </div>

                        </div>
                        <div mkr-solar-chart
                             chart-data="mkrSolarMonth"
                             chart-details="{
                                    toolTipLinkText: 'View each hour',
                                    steps: 7,
                                    max: 120,
                                    interval: 30,
                                    decimals: 0
                                }"
                             change-parent-chart="changeChartFromWithin(chart)">
                         </div>
                    </div>






<!-- CARBON MONTH -->
                    <div ng-if="activeChart == 'carbon-'+month.slug" ng-controller="mkrCarbonMonthController">
                        <div class="date-controls">
                            <div class="quiet-dropdown" ng-class="{'open': quietDropdownIsOpen}">
                                <div class="quiet-dropdown-label" ng-click="quietDropdownOpen();">
                                    Month View
                                    <svg class="icon caret" viewBox="0 0 80 80">
                                        <use xlink:href="#caret"></use>
                                    </svg>
                                </div>
                                <ul>
                                    <li>
                                        <a href="#" ng-click="goBack('carbon-current-year'); quietDropdownClose();">Year View</a>
                                    </li>
                                    <li>
                                        <a href="#" ng-click="quietDropdownClose();" class="active">
                                            Month View
                                            <svg class="icon" viewBox="0 0 80 80">
                                                <use xlink:href="#check"></use>
                                            </svg>
                                        </a>
                                    </li>
                                    <li><a href="#" ng-click="goBack('carbon-day'); quietDropdownClose();">Day View</a></li>
                                </ul>
                            </div>
                            <div class="date-picker">
                                <a class="arrow-navigation arrow-left" ng-click="changeChart(monthTraverse($index, 'carbon', 'back'))" ng-class="{'disabled': $index == 0}">
                                    <svg class="icon" viewBox="0 0 80 80">
                                        <use xlink:href="#caret"></use>
                                    </svg>
                                </a>
                                <span class="date-range">{{ month.date }}</span>
                                <a class="arrow-navigation arrow-right" ng-click="changeChart(monthTraverse($index, 'carbon', 'forwards'))" ng-class="{'disabled': $index == 12}">
                                    <svg class="icon" viewBox="0 0 80 80">
                                        <use xlink:href="#caret"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <div class="chart-inner"
	                        	 op-carbon-chart
                             chart-data="mkrCarbonFebruary"
                             chart-details="{
                                    toolTipLinkText: 'View each hour',
                                    steps: 7,
                                    max: 60,
                                    interval: 30,
                                    decimals: 0
                                }"
                             change-parent-chart="changeChartFromWithin(chart)">
                         </div>
                    </div>







                </div> <!--- end loop-->









<!--SOLAR DAY USAGE -->
								<div ng-if="activeChart == 'mkrSolar-day'" ng-controller="mkrSolarDayController">
                    <div class="date-controls">
                        <div class="quiet-dropdown" ng-class="{'open': quietDropdownIsOpen}">
                            <div class="quiet-dropdown-label" ng-click="quietDropdownOpen();">
                                Day View
                                <svg class="icon caret" viewBox="0 0 80 80">
                                    <use xlink:href="#caret"></use>
                                </svg>
                            </div>
                            <ul>
                                <li>
                                    <a href="#" ng-click="goBack('mkr-data-solar'); quietDropdownClose();">Year View</a>
                                </li>
                                <li>
                                    <a href="#" ng-click="goBack('mkrSolar-february'); quietDropdownClose();">
                                        Month View
                                    </a>
                                </li>
                                <li>
                                    <a href="#" ng-click="quietDropdownClose();" class="active">
                                        Day View
                                        <svg class="icon" viewBox="0 0 80 80">
                                            <use xlink:href="#check"></use>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="date-picker">
                            <a class="arrow-navigation arrow-left">
                                <svg class="icon" viewBox="0 0 80 80">
                                    <use xlink:href="#caret"></use>
                                </svg>
                            </a>
                            <span class="date-range">Thursday, February 19</span>
                            <a class="arrow-navigation arrow-right disabled">
                                <svg class="icon" viewBox="0 0 80 80">
                                    <use xlink:href="#caret"></use>
                                </svg>
                            </a>
                        </div>

                        <div class="performance-summary">
	                        	<ul>
		                        	<li class="performance-left">
		                        		<span class="performance-text">Energy produced by solar panels</span>
		                        		<span class="performance-num">{{energyProdSolar}}<span>%</span></span>
		                        	</li>
		                        	<li class="performance-middle">
		                        		<span class="performance-text">Energy exported to the grid</span>
		                        		<span class="performance-num">{{energyExport}}<span>kWh</span></span>
		                        	</li>
		                        	<li class="performance-right">
		                        		<span class="performance-text">Energy drawn from the grid</span>
		                        		<span class="performance-num">{{energyDrawn}}<span>kWh</span></span>
		                        	</li>
	                        	</ul>
                        </div>

                    </div>
                    <div class="chart-inner"
                         mkr-solar-chart
                         chart-data="mkrSolarDay"
                         chart-details="{
                                steps: 6,
                                max: 10,
                                interval: 2,
                                decimals: 0,
                                drilldown: false
                            }"
                         change-parent-chart="changeChartFromWithin(chart)">
                     </div>
                </div>




<!-- DAY CARBON -->
                <div ng-if="activeChart == 'carbon-day'" ng-controller="mkrCarbonDayController">
                    <div class="date-controls">
                        <div class="quiet-dropdown" ng-class="{'open': quietDropdownIsOpen}">
                            <div class="quiet-dropdown-label" ng-click="quietDropdownOpen();">
                                Day View
                                <svg class="icon caret" viewBox="0 0 80 80">
                                    <use xlink:href="#caret"></use>
                                </svg>
                            </div>
                            <ul>
                                <li>
                                    <a href="#" ng-click="goBack('carbon-current-year'); quietDropdownClose();">Year View</a>
                                </li>
                                <li>
                                    <a href="#" ng-click="goBack('carbon-february'); quietDropdownClose();">
                                        Month View
                                    </a>
                                </li>
                                <li>
                                    <a href="#" ng-click="quietDropdownClose();" class="active">
                                        Day View
                                        <svg class="icon" viewBox="0 0 80 80">
                                            <use xlink:href="#check"></use>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="date-picker">
                            <a class="arrow-navigation arrow-left">
                                <svg class="icon" viewBox="0 0 80 80">
                                    <use xlink:href="#caret"></use>
                                </svg>
                            </a>
                            <span class="date-range">Thursday, February 19</span>
                            <a class="arrow-navigation arrow-right disabled">
                                <svg class="icon" viewBox="0 0 80 80">
                                    <use xlink:href="#caret"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="chart-inner"
                         op-carbon-chart
                         chart-data="mkrCarbonDay"
                         chart-details="{
                                steps: 6,
                                max: 2,
                                interval: 0.5,
                                decimals: 2,
                                drilldown: false
                            }"
                         change-parent-chart="changeChartFromWithin(chart)">
                     </div>
                </div>




<!-- DAY USAGE -->
                <div ng-if="activeChart == 'usage-day'" ng-controller="usageDayController">
                    <div class="date-controls">
                        <div class="quiet-dropdown" ng-class="{'open': quietDropdownIsOpen}">
                            <div class="quiet-dropdown-label" ng-click="quietDropdownOpen();">
                                Day View
                                <svg class="icon caret" viewBox="0 0 80 80">
                                    <use xlink:href="#caret"></use>
                                </svg>
                            </div>
                            <ul>
                                <li>
                                    <a href="#" ng-click="goBack('usage-current-year'); quietDropdownClose();">Year View</a>
                                </li>
                                <li>
                                    <a href="#" ng-click="goBack('usage-february'); quietDropdownClose();">
                                        Month View
                                    </a>
                                </li>
                                <li>
                                    <a href="#" ng-click="quietDropdownClose();" class="active">
                                        Day View
                                        <svg class="icon" viewBox="0 0 80 80">
                                            <use xlink:href="#check"></use>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="date-picker">
                            <a class="arrow-navigation arrow-left">
                                <svg class="icon" viewBox="0 0 80 80">
                                    <use xlink:href="#caret"></use>
                                </svg>
                            </a>
                            <span class="date-range">Thursday, February 19</span>
                            <a class="arrow-navigation arrow-right disabled">
                                <svg class="icon" viewBox="0 0 80 80">
                                    <use xlink:href="#caret"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="chart-inner"
                         op-usage-chart
                         chart-data="usageDay"
                         chart-details="{
                                steps: 6,
                                max: 2,
                                interval: 0.5,
                                decimals: 2,
                                drilldown: false
                            }"
                         change-parent-chart="changeChartFromWithin(chart)">
                     </div>
                </div>







<!-- DAY COSTS -->
                <div ng-if="activeChart == 'cost-day'" ng-controller="costDayController">
                    <div class="date-controls">
                        <div class="quiet-dropdown" ng-class="{'open': quietDropdownIsOpen}">
                            <div class="quiet-dropdown-label" ng-click="quietDropdownOpen();">
                                Day View
                                <svg class="icon caret" viewBox="0 0 80 80">
                                    <use xlink:href="#caret"></use>
                                </svg>
                            </div>
                            <ul>
                                <li>
                                    <a href="#" ng-click="goBack('cost-current-year'); quietDropdownClose();">Year View</a>
                                </li>
                                <li>
                                    <a href="#" ng-click="goBack('cost-february'); quietDropdownClose();">
                                        Month View
                                    </a>
                                </li>
                                <li>
                                    <a href="#" ng-click="quietDropdownClose();" class="active">
                                        Day View
                                        <svg class="icon" viewBox="0 0 80 80">
                                            <use xlink:href="#check"></use>
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="date-picker">
                            <a class="arrow-navigation arrow-left">
                                <svg class="icon" viewBox="0 0 80 80">
                                    <use xlink:href="#caret"></use>
                                </svg>
                            </a>
                            <span class="date-range">Thursday, February 19</span>
                            <a class="arrow-navigation arrow-right disabled">
                                <svg class="icon" viewBox="0 0 80 80">
                                    <use xlink:href="#caret"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="chart-inner"
                         op-cost-chart
                         chart-data="costDay"
                         chart-details="{
                                steps: 6,
                                max: 2,
                                interval: 0.5,
                                decimals: 0,
                                drilldown: false
                            }"
                         weather="weatherDay"
                         change-parent-chart="changeChartFromWithin(chart)">
                     </div>
                </div>






            </div>
        </div>
    </div>
</div>
