<div class="question">
    <div class="question-header">
        {{question.title}}
    </div>
    <div ng-if="question.subtitle || question.preFilled" class="question-subhead confirm-animation">
            <svg class="icon information small" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
     viewBox="0 0 80 80" enable-background="new 0 0 80 80" xml:space="preserve">
                <g>
                    <path d="M40,0C17.9,0,0,17.9,0,40s17.9,40,40,40c22.1,0,40-17.9,40-40S62.1,0,40,0z"/>
                    <path fill="#FFFFFF" d="M46,60c0,2.8-1.7,5-4.5,5c-2.8,0-4.5-2.2-4.5-5V45c-3,0-6-2.7-6-5.5c0-2.8,1.2-5.5,4-5.5h5c2.8,0,6,3.2,6,6
                        V60z"/>
                    <path fill="#FFFFFF" d="M40,30c-4.1,0-7.5-3.4-7.5-7.5c0-4.1,3.4-7.5,7.5-7.5c4.1,0,7.5,3.4,7.5,7.5C47.5,26.6,44.1,30,40,30z"/>
                </g>
            </svg>
            {{subtitleText}}
    </div>
</div>
<div class="answers" ng-if="!question.noImages">
    <label class="checked-button" ng-repeat="selection in question.selections" ng-model="question.answer" btn-radio="'{{selection.data}}'" uncheckable ng-class="{selected: question.answer==='{{selection.data}}'}" >
        <div class="checked-button-selected-img" ng-show="question.answer=='{{selection.data}}'"><img src="img/audit/selected.png"></img></div>
        <div class="checked-button-img"><img ng-src="{{ selection.img }}"></img></div>
        <div class="checked-button-text">{{selection.text}}</div>
    </label>
</div>
<form ng-if="question.noImages">
    <div class="answers answers-no-image">
        <div class="custom-radio" ng-repeat="selection in question.selections">
            <input type="radio" id="{{selection.data}}" ng-model="question.answer" value="{{selection.data}}">
            <label for="{{selection.data}}" class="custom radio">{{selection.text}}</label>
        </div>
    </div>
</form>
<div ng-if="question.preFilled" class="radio-submit confirm-animation">
    <input type="submit" value="CONFIRM" class="button primary" ng-click="clickedConfirm()"></input>
</div>
<div ng-if="question.unsureOption">
    <div class="unsure" ng-if="question.status !== 'unsure'"><a ng-click="clickedUnsure()">Not sure&mdash;skip this question</a></div>
    <div class="question-skipped" ng-if="question.status === 'unsure'">You skipped this question.</div>
</div>

