        <div class="wrapper comed-head" style="background:#cc0033;width: 100%;height:115px;">
				    <div class="container">
					      <div id="DeltaSiteLogo" class="pull-left">
					          <a class="ms-siteicon-a" href="../index.html">
						          <!-- PR edit
                                  <img class="ms-siteicon-img" width="206" height="64" src="img/audit/EX_logo.png" style="height:64px;margin-top:25px;"></a>
                              -->
                                  <img class="ms-siteicon-img" width="236" height="53" src="img/audit/UtilityCoLogo.png" style="height:53px;margin-top:25px;">
					      </div>
				    </div>
				</div>


        <div ng-include="'img/icons/icons.svg'"></div>

        <div class="page-container {{$stateParams.utility}}" ui-view="prototypeView" ng-controller="ceVisionController">
            <div class="header">






                <div class="top-strip"></div>
                <div class="mobile-nav-toggle" ng-class="{'active': mobileNav === true}" ng-click="toggleMobileNav()"></div>
                <ul class="utility-nav">
                    <li>
                        You're logged in as <a href="">Ryan Devenish</a>.
                    </li>
                    <li>
                        <a href="#">
                            Logout
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Contact us
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Help
                        </a>
                    </li>
                </ul>
                <ul class="primary-nav" ng-class="{'open': mobileNav}">
                    <li ng-repeat="menuItem in menuItems" ng-if="menuItem.menu && menuItem.parent=='prototype'">
                        <a href="#/prototype{{menuItem.url}}" ng-class="{'on' : $state.includes(menuItem.name)}">
                            <span>{{menuItem.label}}</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="main">
                <div ui-view></div>
            </div>
            <div class="footer">
                <ul>
                    <li>
                        <a href="#">
                            About Brilliant Energy
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Contact
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Terms of Use
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Privacy Policy
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            Help
                        </a>
                    </li>
                </ul>
                <p class="opower-tag">
                    Runs on Opower. &copy; 2014 Opower. All Rights Reserved.
                </p>
            </div>
        </div>